h1{
    display: grid;
    background-color: rgb(183, 190, 196);
    border: solid black;
    grid-column: auto;
    border-radius: 25px;
    grid: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 15, 10);
    text-align: center;
}
body{
    background-color: antiquewhite;
}